.navBox {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.navBoxItem {
  font-family: "Azeret Mono";
  font-size: 17px;
  color: rgb(255, 255, 255);
}
.active {
  color: rgba(15, 12, 12, 0.931);
}
